# Traitement des données

In [5]:
from sklearn.neighbors import BallTree
import numpy as np
import pandas as pd
import numpy as np
import json
from geopy.distance import geodesic
from pathlib import Path
import warnings
import os

In [6]:
files_to_check = [
    'data/philly_restaurants.json',
    'data/philly_restaurant_reviews.json',
    'data/philly_restaurant_users.json',
    'data/philly_restaurant_tips.json',
    'data/philly_restaurant_photos.json'
]


def load_json_data(filepath):
    """Charge un fichier JSON ligne par ligne (format Yelp)"""
    data = []
    try:
        with open(filepath, 'r', encoding='utf-8') as f:
            for line in f:
                data.append(json.loads(line))
        print(f"{filepath}: {len(data)} enregistrements chargés")
        return pd.DataFrame(data)
    except FileNotFoundError:
        print(f"{filepath}: Fichier non trouvé")
        return None
    except Exception as e:
        print(f"{filepath}: Erreur - {e}")
        return None

# Chargement des datasets
business_df = load_json_data(files_to_check[0])
reviews_df = load_json_data(files_to_check[1])
users_df = load_json_data(files_to_check[2])
tips_df = load_json_data(files_to_check[3])
photos_df = load_json_data(files_to_check[4])

data/philly_restaurants.json: 5852 enregistrements chargés
data/philly_restaurant_reviews.json: 687289 enregistrements chargés
data/philly_restaurant_users.json: 209513 enregistrements chargés
data/philly_restaurant_tips.json: 87118 enregistrements chargés
data/philly_restaurant_photos.json: 22295 enregistrements chargés

## Vision globale de la bdd

In [7]:
def analyze_dataframe(df, name):
    """Analyse descriptive complète"""
    if df is None:
        return

    print(f"\n{'─' * 80}")
    print(f" TABLE: {name}")
    print(f"{'─' * 80}")

    # Dimensions
    print(f"\n Dimensions: {df.shape[0]:,} lignes × {df.shape[1]} colonnes")

    # Colonnes et types
    print(f"\n Colonnes et types de données:")
    print(df.dtypes)

    # Aperçu des premières lignes
    print(f"\n Aperçu des données:")
    print(df.head(3))

    # Statistiques descriptives (colonnes numériques)
    numeric_cols = df.select_dtypes(include=[np.number]).columns
    if len(numeric_cols) > 0:
        print(f"\n Statistiques descriptives (colonnes numériques):")
        print(df[numeric_cols].describe())

    # Valeurs manquantes
    print(f"\n Valeurs manquantes:")
    missing = df.isnull().sum()
    missing_pct = (missing / len(df) * 100).round(2)
    missing_df = pd.DataFrame({
        'Valeurs manquantes': missing,
        'Pourcentage (%)': missing_pct
    })
    missing_df = missing_df[missing_df['Valeurs manquantes'] > 0].sort_values(
        'Valeurs manquantes', ascending=False
    )
    if len(missing_df) > 0:
        print(missing_df)
    else:
        print("Aucune valeur manquante ")

    # Mémoire utilisée
    memory_usage = df.memory_usage(deep=True).sum() / 1024**2
    print(f"\n Mémoire utilisée: {memory_usage:.2f} MB")

# Analyse de chaque table
if business_df is not None:
    analyze_dataframe(business_df, "BUSINESS")
if reviews_df is not None:
    analyze_dataframe(reviews_df, "REVIEWS")
if users_df is not None:
    analyze_dataframe(users_df, "USERS")
if tips_df is not None:
    analyze_dataframe(tips_df, "TIPS")
if photos_df is not None:
    analyze_dataframe(photos_df, "PHOTOS")

────────────────────────────────────────────────────────────────────────────────
 TABLE: BUSINESS
────────────────────────────────────────────────────────────────────────────────

 Dimensions: 5,852 lignes × 14 colonnes

 Colonnes et types de données:
business_id      object
name             object
address          object
city             object
state            object
postal_code      object
latitude        float64
longitude       float64
stars           float64
review_count      int64
is_open           int64
attributes       object
categories       object
hours            object
dtype: object

 Aperçu des données:
              business_id                name        address          city  \
0  MTSW4McQd7CbVtyjqoe9mw  St Honore Pastries    935 Race St  Philadelphia
1  MUTTqe8uqyMdBl186RmNeA            Tuna Bar    205 Race St  Philadelphia
2  ROeacJQwBeh05Rqg7F6TCg                 BAP  1224 South St  Philadelphia

  state postal_code   latitude  longitude  stars  review_count  is_open  \
0    PA       19107  39.955505 -75.155564    4.0            80        1
1    PA       19106  39.953949 -75.143226    4.0           245        1
2    PA       19147  39.943223 -75.162568    4.5           205        1

                                          attributes  \
0  {'RestaurantsDelivery': 'False', 'OutdoorSeati...
1  {'RestaurantsReservations': 'True', 'Restauran...
2  {'NoiseLevel': 'u'quiet'', 'GoodForMeal': '{'d...

                                          categories  \
0  Restaurants, Food, Bubble Tea, Coffee & Tea, B...
1                  Sushi Bars, Restaurants, Japanese
2                                Korean, Restaurants

                                               hours
0  {'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...
1  {'Tuesday': '13:30-22:0', 'Wednesday': '13:30-...
2  {'Monday': '11:30-20:30', 'Tuesday': '11:30-20...

 Statistiques descriptives (colonnes numériques):
          latitude    longitude        stars  review_count      is_open
count  5852.000000  5852.000000  5852.000000   5852.000000  5852.000000
mean     39.974770   -75.154157     3.555964    113.761449     0.602358
std       0.048136     0.051395     0.803122    241.378560     0.489452
min      39.865466   -75.363647     1.000000      5.000000     0.000000
25%      39.947944   -75.176438     3.000000     14.000000     0.000000
50%      39.954445   -75.160408     3.500000     38.500000     1.000000
75%      39.999755   -75.144601     4.000000    114.000000     1.000000
max      40.141488   -74.940729     5.000000   5721.000000     1.000000

 Valeurs manquantes:
            Valeurs manquantes  Pourcentage (%)
hours                      998            17.05
attributes                  53             0.91

 Mémoire utilisée: 8.55 MB

────────────────────────────────────────────────────────────────────────────────
 TABLE: REVIEWS
────────────────────────────────────────────────────────────────────────────────

 Dimensions: 687,289 lignes × 9 colonnes

 Colonnes et types de données:
review_id       object
user_id         object
business_id     object
stars          float64
useful           int64
funny            int64
cool             int64
text            object
date            object
dtype: object

 Aperçu des données:
                review_id                 user_id             business_id  \
0  AqPFMleE6RsU23_auESxiA  _7bHUi9Uuf5__HHc_Q8guQ  kxX2SOes4o-D3ZQBkiMRfA
1  JrIxlS1TzJ-iCu79ul40cQ  eUta8W_HdHMXPzLBBZhL1A  04UD14gamNjLY0IDYVhHJg
2  8JFGBuHMoiNDyfcxuWNtrA  smOvOajNG0lS4Pq7d8g4JQ  RZtGWDLCAtuipwaZ-UfjmQ

   stars  useful  funny  cool  \
0    5.0       1      0     1
1    1.0       1      2     1
2    4.0       0      0     0

                                                text                 date
0  Wow!  Yummy, different,  delicious.   Our favo...  2015-01-04 00:01:03
1  I am a long term frequent customer of this est...  2015-09-23 23:10:31
2  Good food--loved the gnocchi with marinara\nth...  2009-10-14 19:57:14

 Statistiques descriptives (colonnes numériques):
               stars         useful          funny           cool
count  687289.000000  687289.000000  687289.000000  687289.000000
mean        3.811699       1.101761       0.370848       0.550538
std         1.306959       2.531508       1.430542       1.850401
min         1.000000       0.000000       0.000000       0.000000
25%         3.000000       0.000000       0.000000       0.000000
50%         4.000000       0.000000       0.000000       0.000000
75%         5.000000       1.000000       0.000000       1.000000
max         5.000000     224.000000     227.000000     163.000000

 Valeurs manquantes:
Aucune valeur manquante

 Mémoire utilisée: 659.37 MB

────────────────────────────────────────────────────────────────────────────────
 TABLE: USERS
────────────────────────────────────────────────────────────────────────────────

 Dimensions: 209,513 lignes × 22 colonnes

 Colonnes et types de données:
user_id                object
name                   object
review_count            int64
yelping_since          object
useful                  int64
funny                   int64
cool                    int64
elite                  object
friends                object
fans                    int64
average_stars         float64
compliment_hot          int64
compliment_more         int64
compliment_profile      int64
compliment_cute         int64
compliment_list         int64
compliment_note         int64
compliment_plain        int64
compliment_cool         int64
compliment_funny        int64
compliment_writer       int64
compliment_photos       int64
dtype: object

 Aperçu des données:
                  user_id    name  review_count        yelping_since  useful  \
0  qVc8ODYU5SZjKXVBgXdI7w  Walker           585  2007-01-25 16:47:26    7217
1  j14WgRoU_-2ZE1aw1dXrJg  Daniel          4333  2009-01-25 04:35:42   43091
2  q_QQ5kBBwlCcbL1s4NVK3g    Jane          1221  2005-03-14 20:26:35   14953

   funny   cool                                              elite  \
0   1259   5994                                               2007
1  13066  27281  2009,2010,2011,2012,2013,2014,2015,2016,2017,2...
2   9940  11211       2006,2007,2008,2009,2010,2011,2012,2013,2014

                                             friends  fans  ...  \
0  NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...   267  ...
1  ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...  3138  ...
2  xBDpTUbai0DXrvxCe3X16Q, 7GPNBO496aecrjJfW6UWtg...  1357  ...

   compliment_more  compliment_profile  compliment_cute  compliment_list  \
0               65                  55               56               18
1              264                 184              157              251
2              163                 191              361              147

   compliment_note  compliment_plain  compliment_cool  compliment_funny  \
0              232               844              467               467
1             1847              7054             3131              3131
2             1212              5696             2543              2543

   compliment_writer  compliment_photos
0                239                180
1               1521               1946
2                815                323

[3 rows x 22 columns]

 Statistiques descriptives (colonnes numériques):
        review_count         useful          funny           cool  \
count  209513.000000  209513.000000  209513.000000  209513.000000
mean       45.838287     101.416986      43.684745      61.986674
std       156.565449    1298.785511     876.763529    1151.211502
min         0.000000       0.000000       0.000000       0.000000
25%         3.000000       1.000000       0.000000       0.000000
50%         9.000000       6.000000       1.000000       1.000000
75%        30.000000      26.000000       6.000000       7.000000
max     17473.000000  206296.000000  185823.000000  199878.000000

                fans  average_stars  compliment_hot  compliment_more  \
count  209513.000000  209513.000000   209513.000000    209513.000000
mean        3.598063       3.703596        4.576284         0.675872
std        40.937871       0.999049      138.071057        16.654466
min         0.000000       1.000000        0.000000         0.000000
25%         0.000000       3.250000        0.000000         0.000000
50%         0.000000       3.880000        0.000000         0.000000
75%         1.000000       4.380000        0.000000         0.000000
max     12497.000000       5.000000    25784.000000      4347.000000

       compliment_profile  compliment_cute  compliment_list  compliment_note  \
count       209513.000000    209513.000000    209513.000000    209513.000000
mean             0.462363         0.319274         0.174777         3.787321
std             23.486117        10.482018         9.081877       164.839083
min              0.000000         0.000000         0.000000         0.000000
25%              0.000000         0.000000         0.000000         0.000000
50%              0.000000         0.000000         0.000000         0.000000
75%              0.000000         0.000000         0.000000         1.000000
max           7039.000000      2974.000000      2607.000000     59031.000000

       compliment_plain  compliment_cool  compliment_funny  compliment_writer  \
count     209513.000000    209513.000000     209513.000000      209513.000000
mean           7.658532         7.065986          7.065986           2.640815
std          269.920308       183.800929        183.800929          59.143407
min            0.000000         0.000000          0.000000           0.000000
25%            0.000000         0.000000          0.000000           0.000000
50%            0.000000         0.000000          0.000000           0.000000
75%            1.000000         0.000000          0.000000           0.000000
max       101097.000000     49967.000000      49967.000000       15934.000000

       compliment_photos
count      209513.000000
mean            3.116303
std           165.309587
min             0.000000
25%             0.000000
50%             0.000000
75%             0.000000
max         56104.000000

 Valeurs manquantes:
Aucune valeur manquante

 Mémoire utilisée: 429.02 MB

────────────────────────────────────────────────────────────────────────────────
 TABLE: TIPS
────────────────────────────────────────────────────────────────────────────────

 Dimensions: 87,118 lignes × 5 colonnes

 Colonnes et types de données:
user_id             object
business_id         object
text                object
date                object
compliment_count     int64
dtype: object

 Aperçu des données:
                  user_id             business_id  \
0  -copOvldyKh1qr-vzkDEvw  MYoRNLb5chwjQe3c_k37Gg
1  FQ-zmWPEG_pjSQx6pt3Efw  3ZynJ94VpIdDlaArmEp2Rg
2  YnlCpuaBa3qWBp4te8pGmA  XIKYdKWq72zUYsq8NBxcCQ

                                     text                 date  \
0  It's open even when you think it isn't  2013-08-18 00:56:08
1  Yes, I'm eating here again. Breakfast!  2012-10-12 15:16:13
2     The honey glazed salmon is amazing!  2018-01-14 15:00:01

   compliment_count
0                 0
1                 0
2                 0

 Statistiques descriptives (colonnes numériques):
       compliment_count
count      87118.000000
mean           0.012558
std            0.118836
min            0.000000
25%            0.000000
50%            0.000000
75%            0.000000
max            3.000000

 Valeurs manquantes:
Aucune valeur manquante

 Mémoire utilisée: 29.91 MB

────────────────────────────────────────────────────────────────────────────────
 TABLE: PHOTOS
────────────────────────────────────────────────────────────────────────────────

 Dimensions: 22,295 lignes × 4 colonnes

 Colonnes et types de données:
photo_id       object
business_id    object
caption        object
label          object
dtype: object

 Aperçu des données:
                 photo_id             business_id                  caption  \
0  Le9rMdT8YFlvqr431LctIQ  BELS5YkYjDFkpbM2FuDdaA  Fried Chick'un Sandwich
1  zNzVcwnSJ4kvjFnANIsIRg  tw_PmFjjCyg0t8Ek_kQz0Q
2  J1rqVl8pAoMJtPfGA2HV9w  jkGQQ4_LgJx3hwPtCFkzbQ

     label
0     food
1     food
2  outside

 Valeurs manquantes:
Aucune valeur manquante

 Mémoire utilisée: 6.23 MB

Pour la géographie :
Tu es bien géographiquement cohérent (Philadelphie)
Pas d’outliers absurdes
La dispersion est faible -> OK pour analyses spatiales

Pour les notes :
La médiane est plus haute que la moyenne → asymétrie à gauche
Beaucoup de restaurants sont notés 4+
Les très mauvaises notes tirent la moyenne vers le bas

Pour le nombre de reviews :
50 % des restaurants ont ≤ 19 reviews
75 % ont ≤ 53 reviews
mais certains ont des milliers
Beaucoup de restos peu visibles et quelques restos ultra-exposés (ça va nous etre utile du coup)

In [8]:
overview_table = pd.DataFrame({
    'dataset': ['business_df', 'reviews_df', 'users_df', 'tips_df', 'photos_df'],
    'n_rows': [
        len(business_df),
        len(reviews_df),
        len(users_df),
        len(tips_df),
        len(photos_df)
    ],
    'n_columns': [
        business_df.shape[1],
        reviews_df.shape[1],
        users_df.shape[1],
        tips_df.shape[1],
        photos_df.shape[1]
    ]
})

overview_table

       dataset  n_rows  n_columns
0  business_df    5852         14
1   reviews_df  687289          9
2     users_df  209513         22
3      tips_df   87118          5
4    photos_df   22295          4

## Filtrage des restaurants

In [6]:
if business_df is not None:
    print(f"\n Nombre total de commerces: {len(business_df):,}")

    # Afficher les catégories disponibles
    if 'categories' in business_df.columns:
        print("\n Exemples de catégories:")
        print(business_df['categories'].dropna().head(10))

    # Filtrer les restaurants
    # Méthode 1: Via la colonne 'categories'
    if 'categories' in business_df.columns:
        restaurants_df = business_df[
            business_df['categories'].notna() &
            business_df['categories'].str.contains('Restaurant', case=False, na=False)
        ].copy()

        print(f"\n Nombre de restaurants identifiés: {len(restaurants_df):,}")
        print(f"   Pourcentage: {len(restaurants_df)/len(business_df)*100:.1f}%")

        # Sous-catégories de restaurants les plus fréquentes
        if len(restaurants_df) > 0:
            print("\n Top 15 catégories de restaurants:")
            all_categories = restaurants_df['categories'].str.split(', ', expand=True).stack()
            top_categories = all_categories.value_counts().head(15)
            for cat, count in top_categories.items():
                print(f"   {cat}: {count:,}")
    else:
        print(" Colonne 'categories' non trouvée")
        restaurants_df = business_df.copy()

 Nombre total de commerces: 14,569

 Exemples de catégories:
0    Restaurants, Food, Bubble Tea, Coffee & Tea, B...
1                    Sushi Bars, Restaurants, Japanese
2                                  Korean, Restaurants
3    Cocktail Bars, Bars, Italian, Nightlife, Resta...
4                      Pizza, Restaurants, Salad, Soup
5    Eatertainment, Arts & Entertainment, Brewpubs,...
6                                        Food, Grocery
7    Restaurants, Automotive, Delis, Gas Stations, ...
8     Keys & Locksmiths, Home Services, Local Services
9                        Eyewear & Opticians, Shopping
Name: categories, dtype: object

 Nombre de restaurants identifiés: 5,854
   Pourcentage: 40.2%

 Top 15 catégories de restaurants:
   Restaurants: 5,852
   Food: 1,886
   Nightlife: 1,036
   Bars: 980
   Sandwiches: 929
   Pizza: 800
   American (New): 751
   Breakfast & Brunch: 686
   American (Traditional): 663
   Coffee & Tea: 575
   Italian: 505
   Chinese: 471
   Fast Food: 367
   Burgers: 363
   Seafood: 359

## Nettoyage des avis

In [11]:
if reviews_df is not None and business_df is not None:
    # Joindre les avis aux restaurants
    restaurant_reviews = reviews_df.merge(
        restaurants_df[['business_id', 'name', 'categories']],
        on='business_id',
        how='inner'
    )

    print(f"\n Avis de restaurants: {len(restaurant_reviews):,}")
    print(f"   (sur {len(reviews_df):,} avis totaux)")

    # Statistiques sur les avis
    print("\n Statistiques des avis:")
    print(f"   Note moyenne: {restaurant_reviews['stars'].mean():.2f}/5")
    print(f"   Médiane: {restaurant_reviews['stars'].median():.1f}/5")
    print(f"   Écart-type: {restaurant_reviews['stars'].std():.2f}")

    print("\n Distribution des notes:")
    stars_dist = restaurant_reviews['stars'].value_counts().sort_index()
    for star, count in stars_dist.items():
        pct = count / len(restaurant_reviews) * 100
        bar = '█' * int(pct / 2)
        print(f"   {star}: {count:>7,} ({pct:>5.1f}%) {bar}")

    # Longueur des avis
    if 'text' in restaurant_reviews.columns:
        restaurant_reviews['review_length'] = restaurant_reviews['text'].str.len()

        print("\n Longueur des avis:")
        print(f"   Moyenne: {restaurant_reviews['review_length'].mean():.0f} caractères")
        print(f"   Médiane: {restaurant_reviews['review_length'].median():.0f} caractères")
        print(f"   Min: {restaurant_reviews['review_length'].min():.0f}")
        print(f"   Max: {restaurant_reviews['review_length'].max():.0f}")

        # Nettoyer les avis
        print("\n Nettoyage des avis:")
        initial_count = len(restaurant_reviews)

        # Supprimer les avis vides ou trop courts
        restaurant_reviews = restaurant_reviews[
            (restaurant_reviews['text'].notna()) &
            (restaurant_reviews['review_length'] >= 10)
        ]
        print(f"   Avis supprimés (vides/trop courts): {initial_count - len(restaurant_reviews):,}")

        # Prétraitement basique du texte
        restaurant_reviews['text_clean'] = restaurant_reviews['text'].str.lower()
        restaurant_reviews['text_clean'] = restaurant_reviews['text_clean'].str.replace(
            r'[^\w\s]', ' ', regex=True
        )
        restaurant_reviews['text_clean'] = restaurant_reviews['text_clean'].str.replace(
            r'\s+', ' ', regex=True
        ).str.strip()

 Avis de restaurants: 687,307
   (sur 967,552 avis totaux)

 Statistiques des avis:
   Note moyenne: 3.81/5
   Médiane: 4.0/5
   Écart-type: 1.31

 Distribution des notes:
   1.0:  66,626 (  9.7%) ████
   2.0:  57,480 (  8.4%) ████
   3.0:  91,706 ( 13.3%) ██████
   4.0: 194,373 ( 28.3%) ██████████████
   5.0: 277,122 ( 40.3%) ████████████████████

 Longueur des avis:
   Moyenne: 602 caractères
   Médiane: 443 caractères
   Min: 1
   Max: 5000

 Nettoyage des avis:
   Avis supprimés (vides/trop courts): 18

# Features globales

In [13]:
restaurant_reviews = restaurant_reviews.copy()

restaurant_reviews['date'] = pd.to_datetime(
    restaurant_reviews['date'],
    errors='coerce'
)

# Vérification
print(restaurant_reviews['date'].dtype)

# Supprimer les dates invalides
restaurant_reviews = restaurant_reviews.dropna(subset=['date'])

datetime64[ns]

## Features de popularité

In [12]:
restaurant_reviews['date'].dtype

dtype('O')

In [14]:
restaurant_features = (
    restaurant_reviews
    .groupby('business_id')
    .agg(
        n_reviews=('stars', 'count'),
        avg_stars=('stars', 'mean'),
        std_stars=('stars', 'std'),
        first_review=('date', 'min'),
        last_review=('date', 'max')
    )
    .reset_index()
)

restaurant_features['std_stars'] = restaurant_features['std_stars'].fillna(0)

# calculer span en jours
restaurant_features['activity_span_days'] = (
    (restaurant_features['last_review'] - restaurant_features['first_review']).dt.days
).clip(lower=1)

# calculer velocity
restaurant_features['velocity_reviews'] = (
    restaurant_features['n_reviews'] / restaurant_features['activity_span_days']
)

- n_reviews : Nombre d’avis réellement utilisés après nettoyage. En gros c'est la quantité d’information fiable dont tu disposes.
Ce qui est cool du coup c'est que faible volume + bonnes notes ça pourrait dire une pépite potentielle et un gros volume ça veut dire un établissement très exposé (tourisme, chaînes, etc)
- avg_stars : moyenne (Globalement, c’est bien ou pas ?)
- std_stars : ecart type (est qu'ils sont d'accord)

- activity_span_days : ça mesure le nombre de jours entre le premier et le dernier avis.
- velocity_reviews : très élevé -> lieu récemment “découvert” ou sur-exposé. C'est typique des spots touristiques
Ca nous permet de mesurer la durabilité du restaurant et de différencier hype récente vs qualité stable

## Distribution des notes

In [15]:
stars_dist = (
    restaurant_reviews
    .groupby(['business_id', 'stars'])
    .size()
    .unstack(fill_value=0)
)

stars_dist.columns = [f'n_star_{int(c)}' for c in stars_dist.columns]
row_total = stars_dist.sum(axis=1, numeric_only=True)

stars_dist['share_5_star'] = stars_dist['n_star_5'] / row_total
stars_dist['share_1_star'] = stars_dist['n_star_1'] / row_total

- n_star_... : nb d'avis par niveau de note (c'est pour mieux détecter les extremes)

On se penche en particulier sur share_5_star et share_1_star pour pouvoir détecter l'insatifaction severe ou l'enthousiasme fort

## Features temporelles

In [16]:
restaurant_reviews['date'] = pd.to_datetime(restaurant_reviews['date'])

time_features = (
    restaurant_reviews
    .groupby('business_id')
    .agg(
        first_review=('date', 'min'),
        last_review=('date', 'max')
    )
    .reset_index()
)

time_features['activity_span_days'] = (
    (time_features['last_review'] - time_features['first_review']).dt.days
).clip(lower=1)

time_features['reviews_per_month'] = (
    restaurant_features['n_reviews'] /
    (time_features['activity_span_days'] / 30).clip(lower=1)
)

## Saisonalité

In [35]:
restaurant_reviews['month'] = restaurant_reviews['date'].dt.month

seasonality = (
    restaurant_reviews
    .groupby(['business_id', 'month'])
    .size()
    .groupby('business_id')
    .std()
    .reset_index(name='monthly_review_volatility')
)

Pour chaque restaurant, tu prends l’écart-type du nombre de reviews mensuelles.
- faible std -> le restaurant reçoit à peu près le même nombre de reviews chaque mois
- forte std -> forte variation selon le mois (saisonnalité marquée)

## Création d'un dataset avec juste les features

In [36]:
features_df = (
    restaurant_features
    .merge(stars_dist, on='business_id', how='left')
    .merge(seasonality, on='business_id', how='left')
    .merge(time_features, on='business_id', how='left')
    .merge(restaurants_df, on='business_id', how='left')
)

# Feature géographiques

## Densité locale pour la concu

In [40]:
geo_df = restaurants_df[['business_id', 'latitude', 'longitude','review_count']].dropna()

coords = np.radians(geo_df[['latitude', 'longitude']].values)

tree = BallTree(coords, metric='haversine')

RADIUS_KM = 0.5
radius_rad = RADIUS_KM / 6371

counts = tree.query_radius(coords, r=radius_rad, count_only=True)

geo_df['restaurants_within_500m'] = counts - 1

L'idée c'est de comprendre est-ce que le restaurant est dans une zone saturée de restaurants ?

Du coup élevé -> zone touristique / commerciale ou faible -> quartier plus résidentiel maybe

## Popularité relative locale

In [41]:
avg_neighbor_reviews = []

for i, neighbors in enumerate(
    tree.query_radius(coords, r=radius_rad)
):
    neighbor_counts = geo_df.iloc[neighbors]['review_count'].values
    avg_neighbor_reviews.append(
        np.mean(neighbor_counts[neighbor_counts > 0])
    )

geo_df['avg_neighbor_review_count'] = avg_neighbor_reviews

geo_df['relative_review_intensity'] = (
    geo_df['review_count'] /
    geo_df['avg_neighbor_review_count']
)

## Centralité

In [43]:
city_center = geo_df[['latitude', 'longitude']].mean().values

geo_df['distance_to_center_km'] = geo_df.apply(
    lambda row: geodesic(
        (row['latitude'], row['longitude']),
        tuple(city_center)
    ).km,
    axis=1
)

Les attrapes touristes ils sotn souvent en centre ville en geéral

## Ajout de ces nouveaux features à notre dataset feature

In [44]:
features_df = features_df.merge(
    geo_df,
    on='business_id',
    how='left'
)

# Visualisation du nouveau dataset feature

In [45]:
features_df.dtypes

business_id                          object
n_reviews                             int64
avg_stars                           float64
std_stars                           float64
first_review_x               datetime64[ns]
last_review_x                datetime64[ns]
activity_span_days_x                  int64
velocity_reviews                    float64
n_star_1                              int64
n_star_2                              int64
n_star_3                              int64
n_star_4                              int64
n_star_5                              int64
share_5_star                        float64
share_1_star                        float64
monthly_review_volatility           float64
first_review_y               datetime64[ns]
last_review_y                datetime64[ns]
activity_span_days_y                  int64
reviews_per_month                   float64
name                                 object
address                              object
city                                 object
state                                object
postal_code                          object
latitude_x                          float64
longitude_x                         float64
stars                               float64
review_count_x                        int64
is_open                               int64
attributes                           object
categories                           object
hours                                object
latitude_y                          float64
longitude_y                         float64
review_count_y                        int64
restaurants_within_500m               int64
avg_neighbor_review_count           float64
relative_review_intensity           float64
distance_to_center_km               float64
dtype: object